services:
  backend-api:  # ชื่อ Service นี้จะถูก Nginx เรียกใช้งาน
    build:
      context: .
      dockerfile: Dockerfile
    # container_name: backend-api  <-- เอาออกเพื่อให้สั่ง --scale ได้
    expose:
      - "3000"  # เปิดพอร์ตภายในเครือข่าย Docker เท่านั้น
    ports:
      - "3000:3000" # เพิ่มบรรทัดนี้ชั่วคราวเพื่อทดสอบ
    environment:
      - NODE_ENV=production
      # - DATABASE_URL=postgresql://user:pass@db:5432/mydb (ถ้ามี)
    networks:
      - global-proxy-net
    restart: always

networks:
  global-proxy-net:
    external: true # เชื่อมต่อกับเน็ตเวิร์กกลางที่เราสร้างไว้